{% extends 'core/base/base.html' %}
{% load static %}
{% block contents %}

<style>
  
  .trend{
    width: 250px;
  }
    h2{
        color: white !important ;
    }
    span{
        color:white !important;
    }
    a{
        color:white !important;
    }
    .card{
        background-color: transparent !important;
        border-radius: 10px;
    }
    .card-body{
        border-radius: 10px;
        background-color: transparent !important;
    }

    @media (min-width: 768px) {
        .video_mode{
            height:70vh  !important;
        }
     
    }

   
   
    @media (max-width: 768px) {
      .swiper-slide {
        position: relative; /* Make sure the slide is positioned relative for child positioning */
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end; /* Align items at the bottom */
        justify-content: center; /* Center items horizontally */
        height: 200px; /* Reduce the height for smaller screens */
      }
      
      .swiper-slide .content {
        position: absolute;
        bottom: 20px; /* Adjust to control distance from bottom */
        text-align: center;
        color: white; /* Ensure text is readable */
        padding: 10px 20px;
        border-radius: 8px; /* Optional: Rounded corners for the text container */
        max-width: 80%; /* Prevent text from stretching too wide */
        z-index: 10; /* Ensure content stays above the background */
      }
    
      h2 a {
        color: white !important;
        text-decoration: none; /* Optional: Remove underline for links */
      }
    
      h2 a:hover {
        text-decoration: underline; /* Optional: Add underline on hover for accessibility */
      }
    }
    


 
    

    
</style>
 
  <main class="main w-100 p-0">
    <!-- Slider Section -->
   
    <!-- Slider Section -->
<section style="background-color: #0F0A0D;" id="slider" class="slider section dark-background p-0 w-100">

  <div class="container-fluid w-100" data-aos="fade-up" data-aos-delay="100">
    <div class="container-fluid swiper init-swiper w-100 p-0">
    
      <script type="application/json" class="swiper-config">
        {
          "loop": true,
          "speed": 600,
          "autoplay": {
            "delay": 5000
          },
          "slidesPerView": "auto",
          "centeredSlides": true,
          "pagination": {
            "el": ".swiper-pagination",
            "type": "bullets",
            "clickable": true
          },
          "navigation": {
            "nextEl": ".swiper-button-next",
            "prevEl": ".swiper-button-prev"
          }
        }
      </script>

      <div class="container-fluid swiper-wrapper w-100 p-0">
        {% for slide in sliders %}
        <!-- Slide 1 -->
        <div class="swiper-slide w-100 p-0 img-fluid" style="background-image: url('{{ slide.image.url }}')">
          <div class="content">
            <h2><a>{{ slide.title }}</a></h2>
          </div>
        </div>
        {% endfor %}


        <!-- Slider Navigation and Pagination -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
<!-- /Slider Section -->




<section style="background-color: #0F0A0D;" id="lifestyle-category" class="lifestyle-category section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="section-title-container d-flex align-items-center justify-content-between">
      <h2 class="text-white">Latest Events</h2>
    </div>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <!-- Carousel for Featured Programs -->
    <div id="featuredProgramsCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        
        {% for event in events %}
        <!-- Carousel Item -->
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 trend">
              <div class="post-list">
                <a>
                  <div class="card" style="height: 300px; overflow: hidden;">
                    <img src="{{ event.image.url }}" class="img-fluid w-100" style="object-fit: cover; height: 200px;">
                    <div class="card-body">
                      <h5 class="card-title text-white">{{ event.title }}</h5>
                      <p class="card-text text-white">{{ event.description }}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>

      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#featuredProgramsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#featuredProgramsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>



<!-- Recent Shows -->
<section style="background-color: #0F0A0D;" id="trending-category" class="trending-category section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row" style="gap: 3rem;">
      <div class="col-12">
        <h2><a style="font-weight: 300; margin-bottom:30px; border-bottom:2px solid green; display:inline-block;" href="">Latest Event Highlight</a></h2>

        <!-- Carousel for Large Screens -->
        <div class="d-none d-lg-block">
          <div id="trendingCarouselLarge" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel Inner -->
            <div class="carousel-inner">
              {% for highlight in highlights %}
              <!-- Slide Item -->
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row justify-content-center">
                  <div class="col-md-3 mb-5">
                    <div class="card shadow-lg">
                      <a href="{{ highlight.video_link }}">
                        <img src="{{ highlight.image.url }}" alt="{{ highlight.title }}" class="card-img-top rounded-3" style="height: 300px; object-fit: cover;">
                      </a>
                      <div class="card-body">
                        <h5 class="card-title text-white">{{ highlight.title }}</h5>
                        <p class="card-text text-white">{{ highlight.description }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#trendingCarouselLarge" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#trendingCarouselLarge" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <!-- Carousel for Small Screens -->
        <div class="d-block d-lg-none">
          <div id="trendingCarouselSmall" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel Inner -->
            <div class="carousel-inner">
              {% for highlight in highlights %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="card shadow-lg mx-auto" style="max-width: 350px;">
                  <a href="{{ highlight.video_link }}">
                    <img src="{{ highlight.image.url }}" alt="{{ highlight.title }}" class="card-img-top rounded-3" style="height: 300px; object-fit: cover;">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title text-white">{{ highlight.title }}</h5>
                    <p class="card-text text-white">{{ highlight.description }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#trendingCarouselSmall" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#trendingCarouselSmall" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="Showcase" style="background-color: #0F0A0D;" class="lifestyle-category section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="section-title-container d-flex align-items-center justify-content-between">
      <h2 class="text-white"><span class="text-success">Show</span>case</h2>
    </div>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <!-- Carousel for Showcase -->
    <div id="featuredProgramsCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for showcase in showcases %}
          <!-- Create a new row every 3 items -->
          {% if forloop.counter0|divisibleby:3 %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="row justify-content-center">
          {% endif %}

              <!-- Showcase Item -->
              <div class="col-lg-3 col-md-6 trend">
                <div class="post-list">
                  <a>
                    <div class="card" style="height: 300px; overflow: hidden;">
                      <div class="card-body">
                        <img src="{{ showcase.image.url }}" 
                             alt="{{ showcase.title }}"
                             class="img-fluid w-100" 
                             style="object-fit: cover; height: 300px;">
                      </div>
                    </div>
                  </a>
                </div>
              </div>

          {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>

      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#featuredProgramsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#featuredProgramsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

    

<!-- Lifestyle Category Section -->
<section id="Media" style="background-color: #0F0A0D;" class="lifestyle-category section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="section-title-container d-flex align-items-center justify-content-between">
      <h2 class="text-white">Media</h2>
    </div>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <!-- Carousel for Featured Programs -->
    <div id="featuredProgramsCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for media in media_items %}
          {% if forloop.counter0|divisibleby:3 %}
            <!-- Start a new carousel-item every 3 items -->
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="row justify-content-center">
          {% endif %}
          
            <div class="col-lg-3 col-md-6 trend">
              <div class="post-list">
                <a>
                  <div class="card" style="height: 300px; overflow: hidden;">
                    <img src="{{ media.image.url }}" class="img-fluid w-100" style="object-fit: cover; height: 300px;" alt="{{ media.title }}">
                    <div class="card-body">
                      <h2 class="text-white">{{ media.title }}</h2>
                      <p class="text-white">{{ media.description }}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>

          {% if forloop.counter|divisibleby:3 or forloop.last %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#featuredProgramsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#featuredProgramsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
      
   

</main>


<script>
    document.addEventListener("DOMContentLoaded", function () {
      const iframe = document.querySelector(".embed-responsive-item");
      const placeholder = document.querySelector(".youtube-placeholder");
  
      // Check if the iframe has a valid YouTube video source
      if (!iframe.src || iframe.src.trim() === "") {
        placeholder.style.display = "flex"; // Show the placeholder
      } else {
        placeholder.style.display = "none"; // Hide the placeholder if a video exists
      }
    });
  </script>
         
 
 
 {% endblock %}

